<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262254007287-ac77vredcrth8k89ddhm8cbjg4big8s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262254007287-ac77vredcrth8k89ddhm8cbjg4big8s5</string>
	<key>API_KEY</key>
	<string>AIzaSyCsZV1u_LazlJgbRa9Iubq1_md8YaZgjaw</string>
	<key>GCM_SENDER_ID</key>
	<string>262254007287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metamorphosis</string>
	<key>PROJECT_ID</key>
	<string>metareg</string>
	<key>STORAGE_BUCKET</key>
	<string>metareg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262254007287:ios:763c2527b1c786d67714f2</string>
</dict>
</plist>